@media((min-width: 1300px) and (max-width: 2499px)){
/* header */

.header{
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 83px;
    justify-content: space-between;
    background-color: #131313;
    margin-top: -10px;
    margin-right: -12px;
    margin-left: -5px;
    position: sticky;
}

.header__logo{
    color: rgb(227, 184, 115);
    margin-left: 92px;
}

.header__nav li{
    color: rgb(255, 255, 255);
    list-style-type: none;
}

.header__nav ul{
    display: flex;
    flex-direction: row;
    gap: 47.09px;
}


.header__nav li:hover,
.header__number{
    color: rgb(227, 184, 115);
    cursor: pointer;
}

.header__call{
    margin-right: 90px;
}

.header__number:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header__button{
    margin-left: 45px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    background: rgb(227, 184, 115);
    border: none;
    width: 161px;
    height: 37px;
    color: white;
    font-style: italic;
    font-size: 11px;
}

.header__button:hover{
    background-color: #d99e3f;
    cursor: pointer;
    transform: scale(1.1);
}

/* main */

.main__section-1{
    height: 707px;
    width:100%;
    background-image: url(imagezzz/kitchen.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: -5px;
    margin-right: -5px;
}

.main__section-1__h1,
.main__section-1__p,
.main__section-1__button{
    margin-left: 134px;
}

.main__section-1__h1{
    font-family: Yeseva One, sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 194px;
    color:#FFFFFF;
    line-height: 1.4;
    margin-bottom:0;
}

.main__section-1__h1 span{
    color:#E3B873;
}

.main__section-1__p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 400;
    width: 504px;
    margin-top: 19px;
}

.main__section-1__button-orange{
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
    background: rgb(227, 184, 115);
    border:none;
    margin-right: 20px;
}

.main__section-1__button-orange:hover{
    cursor: pointer;
    background-color: #d99e3f;
    transform: scale(1.1);
}

.main__section-1__button-white{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    background: transparent;
	background-color: transparent;
}

.main__section-1__button-white:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.main__section-1__button-orange,
.main__section-1__button-white{
    color: white;
    font-family: Nunito Sans;
    font-style: italic;
    font-size: 11px;
    font-weight: 400;
    border-radius: 2px;
    width: 207px;
    height: 51px;
}

.main__section-2{
    position: relative;
    top: 707px;
    height: 1074px;
    background-color: #131313;
    margin-right: -11px;
    margin-left: -5px;
}

.main__section-2__div{
    position: relative;
    top: 157px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.main__section-2__div__h2-p h2{
    color: rgb(227, 184, 115);
font-family: Yeseva One;
font-size: 27px;
font-weight: 400;
line-height: 31px;
letter-spacing: -7%;
}


.main__section-2__div__h2-p p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}

.main__section-2__div__a-img{
    position: relative;
    margin-left: 50px;
    
}

.main__section-2__div__h3-p h3{
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
}


.main__section-2__div__h3-p p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
}

.main__section-2__div__h3-p{
    margin-top: 42px;
    width: 442px;
    display: flex;
    flex-direction: row; 
}

.column1 div:nth-child(2){
    margin-top: 34px;
}

.column2 div:nth-child(2){
    margin-top: 52px;
    margin-left: 64px;
}

.column2 div:nth-child(1){
    margin-left: 65px;
}

.main__section-2__div2__strelki-krug{
    margin-top: 65.61px;
    display: flex;
    flex-direction: row;
}

.main__section-2__div2__krug{
    margin: 0 29.5px;
}

.margin-krug{
    margin-right: 17.54px;
}


.strela2{
    transform: rotate(180deg);
}

.main__section-2__div__a{
    color: rgba(255, 255, 255, 0.3);
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    bottom: 52.68px;
    display: flex;
    justify-content: space-between;
}

.main__section-2__div__a a:hover{
    border-bottom: 1px solid rgb(227, 184, 115);
    color: rgb(227, 184, 115);
    cursor: pointer;
}

.main__section-2__svg{
    margin: 230px auto 31px auto;
    display: flex;
}

.main__section-3__div{
    background-image: url(imagezzz/remont.png);
    background-repeat: no-repeat;
    height: 434px;
    display: flex;
    margin: 443px auto 0 auto;
    justify-content: center;
    justify-self: center;
    position: relative;
    width: 917px;
}

.main__section-3__div img{
    display: flex;
    width: 140px;
    justify-self: center;
    align-self: center;
}

.main__section-3__line{
    margin-left: 48.5%;
    margin-top: 60.5px;
}

.main__section-3__p{
    color: rgb(54, 54, 54);
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    width: 681px;
    margin-left: 27.8%;
    margin-top: -190px;
}

.main__section-3__form{
    font-family: Nunito Sans, sans-serif;
    display: flex;
    flex-direction: row;
    margin-top: 83px;
    justify-content: center;
}

.main__section-3__form__name input,
.main__section-3__form__number input{
    width: 235px;
    border-left: 10px;
    border-right: 10px;
    border-top: 50px;
    border-bottom-color: #D5D5D5;
    color: #000000;
}

.main__section-3__form__name input:hover,
.main__section-3__form__number input:hover{
    cursor: pointer;
}

.main__section-3__form__name label,
.main__section-3__form__number label{
    display: block;
    color: rgba(54, 54, 54, 0.5);
    font-size: 13px;
    font-weight: 400;
}

.main__section-3__form__name,
.main__section-3__form__number{
    margin-right: 60px;
    height: 51px;
}

.main__section-3__form__button{
    width: 200px;
    height: 51px;
    border-radius: 2px;
    box-shadow: 0px 15px 15px 0px rgba(227, 184, 115, 0.15);
    background: rgb(227, 184, 115);
    border: none;
    color:#FFFFFF;
}

.main__section-3__form__button:hover{
    cursor: pointer;
    background-color: #d99e3f;
    transform: scale(1.1);
}

.main__section-3__form__name input::-moz-placeholder,
.main__section-3__form__number input::-moz-placeholder { 
    color: rgb(54, 54, 54); 
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}


.main__section-3__form__name input::-webkit-input-placeholder,
.main__section-3__form__number input::-webkit-input-placeholder { 
    color: rgb(54, 54, 54); 
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}

.main__section-3__checkbox{
    margin-left: 40%;
    margin-top: 39px;
}

.main__section-3__div-2 img{
    width: 257px;
    height: 67px;
    
}

.main__section-3__div-2{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.main__section-3__div-3__carts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 22px;
}

.main__section-3__div-3__carts__1 img,
.main__section-3__div-3__carts__2 img,
.main__section-3__div-3__carts__3 img{
    z-index: 0;
}

.main__section-3__div-3__carts__1__spisok,
.main__section-3__div-3__carts__2__spisok,
.main__section-3__div-3__carts__3__spisok{
    z-index: 1;
    position: relative;
    top: -150px;
    background-color: white;
    width: 330px;
    height: 286px;
    margin: 0 auto;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.main__section-3__div-3__carts__1__spisok ul,
.main__section-3__div-3__carts__2__spisok ul,
.main__section-3__div-3__carts__3__spisok ul{
    color: rgb(149, 149, 149);
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 2;
}

.main__section-3__div-3__carts__1__spisok h4,
.main__section-3__div-3__carts__2__spisok h4,
.main__section-3__div-3__carts__3__spisok h4{
    color: rgb(54, 54, 54);
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    margin-left: 31px;
    top: 16px;
    position: relative;
}

.main__section-3__div-3__carts__1 button,
.main__section-3__div-3__carts__2 button,
.main__section-3__div-3__carts__3 button{
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.3);
    background: rgb(227, 184, 115);
    color: rgb(255, 255, 255);
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    width: 228px;
    height: 54px;
    border: none;
    z-index: 2;
    position: relative;
    top: -180px;
    margin-left: 23px;

}

.main__section-3__div-3__carts__1 button:hover,
.main__section-3__div-3__carts__2 button:hover,
.main__section-3__div-3__carts__3 button:hover{
    cursor: pointer;
    background-color: #d99e3f;
    transform: scale(1.1);
}

.main__section-3{
    display: grid;
}

.main__section-4{
    display: flex;
    flex-direction: row;
}

.main__section-4__spisok-advantages{
    height: 645px;
    width: 700px;
    overflow: hidden;  
    margin-top: -50px;
}

.main__section-4__spisok-advantages img{
    width: 1006px;
    height: auto;
    margin-left: -300px;
}

.main__section-4__form{
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(19, 19, 19);
    width: 506px;
    height: 509px;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans, sans-serif;
    margin-top: 66px;
    margin-right: 100px;
    margin-left: auto;
}

.main__section-4__form__name input::-moz-placeholder,
.main__section-4__form__number input::-moz-placeholder,
.main__section-4__form__email input::-moz-placeholder { 
    color: rgb(54, 54, 54); 
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}


.main__section-4__form__name input::-webkit-input-placeholder,
.main__section-4__form__number input::-webkit-input-placeholder,
.main__section-4__form__email input::-webkit-input-placeholder { 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}


.main__section-4__form__name input,
.main__section-4__form__number input,
.main__section-4__form__email input{
    background-color: rgb(19, 19, 19);
    border-left: 5px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 50px;
    width: 408px;
}

.main__section-4__form__name input:hover,
.main__section-4__form__number input:hover,
.main__section-4__form__email input:hover{
    cursor: pointer;
}

.main__section-4__form__name label,
.main__section-4__form__number label,
.main__section-4__form__email label{
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: 10px;
}

.main__section-4__form p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 28px;
    margin-bottom: -19px;
}

.main__section-4__form__name,
.main__section-4__form__number,
.main__section-4__form__email{
    margin-left: 49px;
    margin-top: 30px;
}

.main__section-4__checkbox{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    margin-left: 49px;
    margin-top: 16px;
}

.main__section-4__form button{
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    background: rgb(227, 184, 115);
    width: 213px;
    height: 51px;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: none;
    margin-left: 244px;
    margin-top: 29px;
}

.main__section-4__form button:hover{
    cursor: pointer;
    background-color: #d99e3f;
    transform: scale(1.1);
}

.kopilka{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 132.5px;
}

.kopilka p{
    color: rgb(227, 184, 115);
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20.94px;
    width: 344px;
    line-height: 1.5;
}

.main__section-5{
    display: flex;
    flex-direction: row;
    background-image: url(imagezzz/backgroundMain.png);
    margin-top: 195px;
    height: 864px;
    margin-left: -5px;
    margin-right: -10px;
}

.main__section-5__text h3{
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    width: 311px;
    margin-top: 130px;
}

.main__section-5__text p{
    border-bottom: 1px solid rgb(227, 184, 115);
    width: 150px;
    color: rgb(227, 184, 115);
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
}

.main__section-5__text li{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    line-height: 2.5;
    margin-left: -40px;
}

.main__section-5__text li:hover{
    cursor: pointer;
    color:rgb(227, 184, 115);
}

.main__section-5__text{
    margin-left: 99px;
}

.main__section-5__images__block1,
.main__section-5__images__block2 {
    display: flex;
    flex-direction: column;
    width: 354px;
}

.main__section-5__images{
    display: flex;
    flex-direction: row;
    gap: 43px;
    margin-left: auto;
    margin-right: 102px;;
}
.main__section-5__images .clock{
    width: 354px;
    height: 557px;
    position: relative;
    bottom: 39px;
}

.main__section-5__images .sofa{
    bottom: 120px;
    position: relative;
}

.main__section-5__images .TV{
    width: 354px;
    height: 349px;
}

.main__section-5__images .flower{
    position: relative;
    bottom: 80px;
}

.main__section-6__clients{
    margin: 0 auto;
    width: 1236px;
    margin-top: 134px;
}
.main__section-6__clients__text-top h4{
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.main__section-6{
    height: 1950px;
    margin-left: -5px;
    margin-right: -10px;
}

.main__section-6__clients__text-top img{
    margin-left: 45.5%;
    margin-top: -10px;
    margin-bottom: 10px;
}


.main__section-6__clients__text-top p{
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 416px;
    margin: 0 auto;
    line-height: 1.6;
}

.main__section-6__clients__carts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__section-6__clients__carts__cart{
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
    background: rgb(255, 255, 255);
    width: 376px;
    height: 428px;
    margin-top: 39px;
}

.main__section-6__clients__carts__cart .img-h5 img{
    border-radius: 50%;
    width: 77px;
    height: 77px;
    object-fit: cover;
    margin: 20px;
}

.main__section-6__clients__carts__cart h5{
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    width: 178px;
    line-height: 1.5;
}

.img-h5 {
    display: flex;
    flex-direction: row;
}

.main__section-6__clients__carts__cart p{
    color: rgb(149, 149, 149);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 180%;
    width: 324px;
    margin-left: 20px;
}

.main__section-6__clients__carts__cart__div-end {
    box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.5);
    background: rgb(227, 184, 115);
    width: 293.75px;
    height: 54px;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.main__section-6__clients__carts__cart__div-end .razmeri{
    width: 32px;
    height: 32px;
    display: flex;
    margin: 0px;
    position: relative;
    top: 13px;
    left: 10px;
}

.main__section-6__clients__carts__cart__div-end p{
    color: rgb(255, 255, 255);
    font-family: Yeseva One;
    font-size: 17px;
    font-weight: 400;
    margin-left: 25px;
    margin-top: 15px;

}

.img-razmeri{
    border-right: 1px solid rgb(255, 255, 255);
    width: 125px;
    display: flex;
    flex-direction: row;
}

.main__section-6__clients__carts__cart__div-end .calendar{
    width: 32px;
    height: 32px;
    margin-left: 17px;
    margin-top: 11px;
}

.main__section-6__background-city{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 100px;
}

.main__section-6__background-city-img, 
.main__section-6__background-city-img2{
    opacity: 0.1;
    width: 50%;
    height: 330px;
}

.main__section-6__background-city-img{
    transform: scale(-1, 1);
}

.main__section-6__form{
    background-color: #181818;
    width: 61.4%;
    height: 445px;
    margin: 0 auto;
    position: relative;
    top: -310px;
    z-index: 1;
}

.main__section-6__form p{
    color: rgb(255, 255, 255);
    font-family: Yeseva One;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 34px;
}

.main__section-6__form__base-text{
    position: relative;
    top: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main__section-6__form__base-text__name input,
.main__section-6__form__base-text__phone input
{
    width: 231px; 
    margin-bottom: 48px;
}

.main__section-6__form__base-text__name input{
    margin-right: 58px;
}
.main__section-6__form__base-text__question input{
    width: 516px;
}

.main__section-6__form__base-text__name label,
.main__section-6__form__base-text__phone label,
.main__section-6__form__base-text__question label{
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
    font-family: Nunito Sans;
}

.main__section-6__form__base-text__name input,
.main__section-6__form__base-text__phone input,
.main__section-6__form__base-text__question input{
    background-color: #181818;
    border-left: 5px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 45px;
}

.main__section-6__form__base-text__name input:hover,
.main__section-6__form__base-text__phone input:hover,
.main__section-6__form__base-text__question input:hover{
    cursor: pointer;
}

.checkbox-label{
    position: relative;
    top: 85px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
}

.checkbox-label .checklabel{
    margin-left: 8px;
}

.main__section-6__form button{
    position: relative;
    top: 119px;
    left: 341px;
    width: 200px;
    height: 51px;
    box-shadow: 0px 5px 20px 0px rgba(227, 184, 115, 0.1);
    background: rgb(227, 184, 115);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.main__section-6__form button:hover{
    cursor: pointer;
    background-color: #d99e3f;
    transform: scale(1.1);
}

.main__section-6__form__base-text__name input::-moz-placeholder,
.main__section-6__form__base-text__phone input::-moz-placeholder,
.main__section-6__form__base-text__question input::-moz-placeholder { 
    color: rgb(54, 54, 54); 
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}


.main__section-6__form__base-text__name input::-webkit-input-placeholder,
.main__section-6__form__base-text__phone input::-webkit-input-placeholder,
.main__section-6__form__base-text__question input::-webkit-input-placeholder { 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}

.main__section-6__carta p{
    text-align: center;
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    top: 262px;
    position: relative;
}

.main__section-6__carta{
    background-color: rgb(31,31,31);
    position: relative;
    bottom: 540px;
    z-index: 0;
    height: 968px;
}

.main__section-6__carta .carta{
    width: 67%;
    height: 480px;
    object-fit: cover;
    margin-left: 16.5%;
    margin-top: 304px;
}

.main__section-6__carta__mini-img{
    margin-left: 47%;
    position: relative;
    top: 264px;
}

.main__section-6__carta__mini-img .mail{
    margin-right: 15px;
}


/* footer */

.footer{
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 133px;
    justify-content: space-between;
    background-color: #131313;
    margin-top: px;
    margin-right: -12px;
    margin-left: -5px;
    position: absolute;
    width: 100%;
}

.footer__logo{
    color: rgb(227, 184, 115);
    margin-left: 92px;
}

.footer__nav li{
    color: rgb(255, 255, 255);
    list-style-type: none;
}

.footer__nav ul{
    display: flex;
    flex-direction: row;
    gap: 47.09px;
}


.footer__nav li:hover,
.footer__number{
    color: rgb(227, 184, 115);
    cursor: pointer;
}

.footer__call{
    margin-right: 90px;
}

.footer__number:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer__button{
    margin-left: 45px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    background: rgb(227, 184, 115);
    border: none;
    width: 161px;
    height: 37px;
    color: white;
    font-style: italic;
    font-size: 11px;
}

.footer__button:hover{
    background-color: #d99e3f;
    cursor: pointer;
    transform: scale(1.1);
}

.sec3checkbox,
.checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.sec3checkbox+label::before,
.checkbox+label::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
}

.sec3checkbox:checked+label::before,
.checkbox:checked+label::before{
    border-color:#E3B873;
    background-color: #E3B873;
    background-image: url(imagezzz/icons8-галочка.svg)
}
}

@media(max-width: 1300px){
    
/* header */

.header{
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 57px;
    justify-content: space-between;
    background-color: #181818;
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -22px;
    /* width: 100vw; */
    position: sticky;
}

.header__logo{
    color: rgb(227, 184, 115);
    margin-left: 30px;
}


.header__nav ul{
    display: none;
}

.header__call{
    margin-right: 18px;
}

.header__number{
    color: rgb(255, 255, 255);;
}

.header__number:hover{
    cursor: pointer;
}

.header__button{
    display: none;
}

/* main */

.main__section-1{
    height: 476px;
    /* width:100vw; */
    background-image: url(imagezzz/kitchen.png);
    background-repeat: no-repeat;
    background-size: 170% 100%;
    background-position-x: center;
    background-position-y: center;
    margin-left: -22px;
    position: absolute;
}

.main__section-1__h1,
.main__section-1__p,
.main__section-1__button{
    margin-left: 30px;
}

.main__section-1__h1{
    font-family: Yeseva One, sans-serif;
    font-size: 23px;
    font-weight: 400;
    color:#FFFFFF;
    line-height: 1.5;
    margin-bottom:0;
    margin-top: 83px;
}

.main__section-1__h1 span{
    color:#E3B873;
}

.main__section-1__p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 339px;
    margin-top: 16px;
}

.main__section-1__button-orange{
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
    background: rgb(227, 184, 115);
    border:none;
    margin-top: 32px;
}

.main__section-1__button-orange:hover{
    cursor: pointer;
    background-color: #d99e3f;
}

.main__section-1__button-white{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
	background-color: transparent;
    margin-top: 26px;
}

.main__section-1__button-white:hover{
    cursor: pointer;
}

.main__section-1__button-orange,
.main__section-1__button-white{
    color: white;
    font-family: Nunito Sans;
    font-style: italic;
    font-size: 11px;
    font-weight: 400;
    border-radius: 2px;
    width: 89vw;
    height: 51px;
}

.main__section-2{
    position: relative;
    top: 476px;
    height: 1074px;
    background-color: #181818;
    margin-right: -8px;
    margin-left: -15px;
}

.main__section-2__div{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.main__section-2__div__text{
    left: 25px;
    position: relative;
    text-align: center;
}

.main__section-2__div__text br{
    display: none;
}

.main__section-2__div__h2-p h2{
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    width: 60vw;
    margin-left: 49px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -7%;
}


.main__section-2__div__h2-p p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans, sans-serif;
    width: 85vw;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.7;
}

.main__section-2__div__a-img{
    position: relative;
    top: -130px;
    left: 22px;
    
}

.main__section-2__div__a-img img{
    height: 241px;
    width: 91vw;
}

.main__section-2__div__h3-p h3{
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
}


.main__section-2__div__h3-p p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.main__section-2__div__h3-p{
    width: 88vw;
    display: flex;
    flex-direction: row; 
    text-align: left;
    position: relative;
    top:324px;
}

.rostov{
    width: 99px;
}

.column1 div:nth-child(2){
    margin-top: 27px;
}

.column2 div:nth-child(2){
    margin-top: 41px;
    margin-left: 31px;
}

.column2 div:nth-child(1){
    margin-left: 32px;
}

.column2{
    margin-left: 30px;
}
.main__section-2__div2__strelki-krug{
    display: none;
}

.main__section-2__div__a{
   display: none;
}

.main__section-2__svg{
    margin-left: 25vw;
    margin-top: 145px;
}

.main__section-3__div{
    background-image: url(imagezzz/remont.png);
    background-size: cover;
    width: 95vw;
    height: 257px;
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
    margin-top: 220px;
    margin-left: -3.5vw;
}

.main__section-3__div img{
    display: flex;
    width: 67px;
}

.main__section-3__line{
    margin-left: 44%;
    margin-top: 3px;
}

.main__section-3__p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 11px;
    line-height: 2;
    text-align: center;
    width: 88vw;
    margin-left: 7.5%;
    margin-top: -190px;
}

.main__section-3__form{
    background: #181818;
    width: 100vw;
    height: 530px;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans, sans-serif;
    margin-top: 76px;
}

.main__section-3__form__name input::-moz-placeholder,
.main__section-3__form__number input::-moz-placeholder,
.main__section-3__form__email input::-moz-placeholder { 
    color: rgb(54, 54, 54); 
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}


.main__section-3__form__name input::-webkit-input-placeholder,
.main__section-3__form__number input::-webkit-input-placeholder,
.main__section-3__form__email input::-webkit-input-placeholder { 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}


.main__section-3__form__name input,
.main__section-3__form__number input,
.main__section-3__form__email input{
    background-color: #181818;
    border-left: 5px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 45px;
    width: 90%;
}

.main__section-3__form__name input:hover,
.main__section-3__form__number input:hover,
.main__section-3__form__email input:hover{
    cursor: pointer;
}

.main__section-3__form__name label,
.main__section-3__form__number label,
.main__section-3__form__email label{
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: 10px;
}

.main__section-3__form p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 28px;
    margin-bottom: -19px;
}

.main__section-3__form__name,
.main__section-3__form__number{
    margin-left: 5%;
    margin-top: 30px;
}

.sec3checkbox,
.checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.sec3checkbox+label::before,
.checkbox+label::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
}

.sec3checkbox:checked+label::before,
.checkbox:checked+label::before{
    border-color:#E3B873;
    background-color: #E3B873;
    background-image: url(imagezzz/icons8-галочка.svg)
}

.sec3checkbox+label{
    position: relative;
    bottom: 340px;
    margin-left: 5%;
}

.main__section-3__checkbox label{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
}

.main__section-3__form button{
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    background: rgb(227, 184, 115);
    width: 90vw;
    height: 51px;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: none;
    margin-left: 5%;
    margin-top: 29px;
    position: relative;
    top: 80px;
}

.main__section-3__form button:hover{
    cursor: pointer;
    background-color: #d99e3f;
}

.main__section-3__div-2 img{
    width: 257px;
    height: 67px;
    margin-top: 80px;
    margin-bottom: 20px;
    
}

.main__section-3__div-2{
    display: flex;
    justify-content: center;
}

.main__section-3__div-2-1{
    margin-top: -255px;
    background-color: #FFFFFF;
    margin-left: -10px;
    margin-right: -8px;
}

.main__section-3__div-3__carts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 22px;
}

.main__section-3__div-3__carts__1,
.main__section-3__div-3__carts__2,
.main__section-3__div-3__carts__3{
    margin: 0 auto;
}

.main__section-3__div-3__carts__2,
.main__section-3__div-3__carts__3{
    margin-top: -125px;
}

.main__section-3__div-3__carts__1 img,
.main__section-3__div-3__carts__2 img,
.main__section-3__div-3__carts__3 img{
    z-index: 0;
    width: 340px;
    height: 365px;
}

.main__section-3__div-3__carts__1__spisok,
.main__section-3__div-3__carts__2__spisok,
.main__section-3__div-3__carts__3__spisok{
    z-index: 1;
    position: relative;
    top: -160px;
    background-color: white;
    width: 270px;
    height: 241px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.main__section-3__div-3__carts__1__spisok ul,
.main__section-3__div-3__carts__2__spisok ul,
.main__section-3__div-3__carts__3__spisok ul{
    color: rgb(149, 149, 149);
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
    margin-left: 10px;
}

.main__section-3__div-3__carts__1__spisok h4,
.main__section-3__div-3__carts__2__spisok h4,
.main__section-3__div-3__carts__3__spisok h4{
    color: rgb(54, 54, 54);
    font-family: Yeseva One;
    font-size: 15px;
    font-weight: 400;
    margin-left: 31px;
    top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.main__section-3__div-3__carts__1 button,
.main__section-3__div-3__carts__2 button,
.main__section-3__div-3__carts__3 button{
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.3);
    background: rgb(227, 184, 115);
    color: rgb(255, 255, 255);
    font-family: Yeseva One;
    font-size: 15px;
    font-weight: 400;
    width: 190px;
    height: 40px;
    border: none;
    z-index: 2;
    position: relative;
    top: -180px;
}

.main__section-3__div-3__carts__1 button:hover,
.main__section-3__div-3__carts__2 button:hover,
.main__section-3__div-3__carts__3 button:hover{
    cursor: pointer;
    background-color: #d99e3f;
}

.darkback{
    background-color: #181818;
    margin: -5px -8px 0 -10px;
}

.main__section-5__images__block2,
.main__section-6__clients__text-top,
.TV,
.kopilka,
.main__section-4,
.main__section-6__background-city,
.main__section-5__text :nth-child(2),
.main__section-5__text :nth-child(3),
.main__section-6__clients__carts,
.clock,
.footer{
    display: none;
}

.main__section-5__text h3 {
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
}

.main__section-5 {
    margin-top: -145px;
    position: relative;
    z-index: 1;
}

.main__section-5__images {
    width: 90vw;
    height: 242px;
    margin: 0 auto;
    background-image: url(imagezzz/clock2.png);
    background-repeat: no-repeat;
    margin-top: 35px;
}

.main__section-6__form{
    background-color: #181818;
    width: 110vw;
    height: 1342px;
    margin: 0 auto;
    position: relative;
    top: -140px;
    margin-left: -10px;
}

.main__section-6__form p{
    color: rgb(255, 255, 255);
    font-family: Yeseva One;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 207px;
    width: 85vw;
    margin-left: 10vw;
}

.main__section-6__form__base-text{
    position: relative;
    top: 219px;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    justify-content: center;
}

.main__section-6__form__base-text__name input,
.main__section-6__form__base-text__phone input,
.main__section-6__form__base-text__question input
{
    width: 90vw; 
    margin-bottom: 63px;
}

.main__section-6__form__base-text__name label,
.main__section-6__form__base-text__phone label,
.main__section-6__form__base-text__question label{
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
    font-family: Nunito Sans;
}

.main__section-6__form__base-text__name input,
.main__section-6__form__base-text__phone input,
.main__section-6__form__base-text__question input{
    background-color: #181818;
    border-left: 5px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 45px;
}

.main__section-6__form__base-text__name input:hover,
.main__section-6__form__base-text__phone input:hover,
.main__section-6__form__base-text__question input:hover{
    cursor: pointer;
}
.main__section-6{
 height: 1000px;
}

.checkbox-label{
    position: relative;
    top: 195px;
    margin-left: 5vw;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
}

.main__section-6__form button{
    position: relative;
    top: 259px;
    left: 4.5vw;
    width: 90vw;
    height: 51px;
    box-shadow: 0px 5px 20px 0px rgba(227, 184, 115, 0.1);
    background: rgb(227, 184, 115);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.main__section-6__form button:hover{
    cursor: pointer;
    background-color: #d99e3f;
}

.main__section-6__form__base-text__name input::-moz-placeholder,
.main__section-6__form__base-text__phone input::-moz-placeholder,
.main__section-6__form__base-text__question input::-moz-placeholder { 
    color: rgb(54, 54, 54); 
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}


.main__section-6__form__base-text__name input::-webkit-input-placeholder,
.main__section-6__form__base-text__phone input::-webkit-input-placeholder,
.main__section-6__form__base-text__question input::-webkit-input-placeholder { 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
}

.main__section-6__carta{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: -675px;
    margin-left: 2vw;
}

.main__section-6__carta{
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.main__section-6__carta br{
    display: none;
}

.carta{
    width: 90vw;
    height: 270px;
    margin-top: 2px;
}

.main__section-6__carta__mini-img{
    position: relative;
    top: 145px;
}

.mail,
.inst{
    width: 39px;
}

.mail{
    margin-right: 16px;
}
}

@media(min-width: 2500px){
    /* header */

.header{
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 83px;
    justify-content: center;
    background-color: #131313;
    margin-top: -10px;
    margin-right: -12px;
    margin-left: -5px;
    position: sticky;
}

.header__logo{
    color: rgb(227, 184, 115);
    margin-right: 95px;
}

.header__nav li{
    color: rgb(255, 255, 255);
    list-style-type: none;
}

.header__nav ul{
    display: flex;
    flex-direction: row;
    gap: 47.09px;
}


.header__nav li:hover,
.header__number{
    color: rgb(227, 184, 115);
    cursor: pointer;
}

.header__call{
    margin-left: 67px;
}

.header__number:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header__button{
    margin-left: 45px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    background: rgb(227, 184, 115);
    border: none;
    width: 161px;
    height: 37px;
    color: white;
    font-style: italic;
    font-size: 11px;
}

.header__button:hover{
    background-color: #d99e3f;
    cursor: pointer;
    transform: scale(1.1);
}

/* main */

.main__section-1{
    height: 707px;
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7) ), url(imagezzz/kitchen2.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: -5px;
}

.main__section-1__h1,
.main__section-1__p,
.main__section-1__button{
    margin-left: 134px;
}

.main__section-1__h1{
    font-family: Yeseva One, sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 194px;
    color:#FFFFFF;
    line-height: 1.4;
    margin-bottom:0;
}

.main__section-1__h1 span{
    color:#E3B873;
}

.main__section-1__p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 400;
    width: 504px;
    margin-top: 19px;
}

.main__section-1__button-orange{
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
    background: rgb(227, 184, 115);
    border:none;
    margin-right: 20px;
}

.main__section-1__button-orange:hover{
    cursor: pointer;
    background-color: #d99e3f;
    transform: scale(1.1);
}

.main__section-1__button-white{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    background: transparent;
	background-color: transparent;
}

.main__section-1__button-white:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.main__section-1__button-orange,
.main__section-1__button-white{
    color: white;
    font-family: Nunito Sans;
    font-style: italic;
    font-size: 11px;
    font-weight: 400;
    border-radius: 2px;
    width: 207px;
    height: 51px;
}

.main__section-2{
    position: relative;
    top: 707px;
    height: 1074px;
    background-color: #131313;
    margin-right: -11px;
    margin-left: -5px;
    display: flex;
    flex-direction: column;
}

.main__section-2__div{
    position: relative;
    top: 157px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    left: -180px;
}

.main__section-2__div__text{
    left: 134px;
    position: relative;
}

.main__section-2__div__h2-p h2{
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -7%;
}


.main__section-2__div__h2-p p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}

.main__section-2__div__a-img{
    position: relative;
    left: 200px;
    
}

.main__section-2__div__h3-p h3{
    color: rgb(227, 184, 115);
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
}


.main__section-2__div__h3-p p{
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
}

.main__section-2__div__h3-p{
    margin-top: 42px;
    width: 442px;
    display: flex;
    flex-direction: row; 
}

.column1 div:nth-child(2){
    margin-top: 34px;
}

.column2 div:nth-child(2){
    margin-top: 52px;
    margin-left: 64px;
}

.column2 div:nth-child(1){
    margin-left: 65px;
}

.main__section-2__div2__strelki-krug{
    margin-top: 65.61px;
    display: flex;
    flex-direction: row;
}

.main__section-2__div2__krug{
    margin: 0 29.5px;
}

.margin-krug{
    margin-right: 17.54px;
}


.strela2{
    transform: rotate(180deg);
}

.main__section-2__div__a{
    color: rgba(255, 255, 255, 0.3);
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    bottom: 52.68px;
    display: flex;
    justify-content: space-between;
}

.main__section-2__div__a a:hover{
    border-bottom: 1px solid rgb(227, 184, 115);
    color: rgb(227, 184, 115);
    cursor: pointer;
}

.main__section-2__svg{
    display: flex;
    width: 196px;
    height: auto;
    margin: 230px auto 250px auto;
}


.main__section-3,
.main__section-4,
.main__section-5,
.main__section-6,
footer{
    display: none;
}
}